    html, body {overflow-x: hidden; overflow-y: auto; margin:0px;}  
    html {
      font-family: 'Helvetica Neue', Arial, 'Hiragino Sans GB', STHeiti, 'Microsoft YaHei', 'WenQuanYi Micro Hei', SimSun, Song, sans-serif;
    }

    @font-face {
      font-family: 'iconfont';
      src: url('http://at.alicdn.com/t/font_1421057164_805738.eot'); /* IE9*/
      src: url('http://at.alicdn.com/t/font_1421057164_805738.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('http://at.alicdn.com/t/font_1421057164_805738.woff') format('woff'), /* chrome、firefox */
      url('http://at.alicdn.com/t/font_1421057164_805738.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('http://at.alicdn.com/t/font_1421057164_805738.svg#iconfont') format('svg'); /* iOS 4.1- */
    }

  .iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }
  
    #in, .CodeMirror{
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 50%; 
      overflow: hidden; 
      height:auto;
      box-shadow: 0 2px 10px rgba(0,0,0,0.2); 
    }
    
    .CodeMirror-scroll {
      height: 100%;
      min-height: 100%; 
	  *+height:expression(document.getElementById('in').offsetHeight+"px");;
    }
    
    #out{
      position: fixed;
      top: 0;
      right: 0;
      left: 50%;
      bottom: 0;
      overflow: auto;
      padding: 10px;
      padding-left: 20px;
      color:  rgb(22, 32, 41); 
      font-size: 14px;
      line-height: 1.5em;
      background: #FCFCFC;
    }
    /**left scrollbar **/
    #out::-webkit-scrollbar{height:10px;width:7px;background:transparent}
    #out::-webkit-scrollbar:hover{background:rgba(128,128,128,.1)}
    #out::-webkit-scrollbar-thumb{background:rgba(0,0,0,.3);-webkit-border-radius:6px}
    #out::-webkit-scrollbar-thumb:hover{background:rgba(0,0,0,.6)}
    #out::-webkit-scrollbar-corner{background:transparent} 


    @media screen and (max-width: 1024px) {
      #in {
        display: none;
      }
      #out {
        left: 0;
        padding-left: 10px;
      }
    }

    .view #in {
      display: none;
    }
    .view #out {
      left: 0;
      padding-left: 10px;
    }

    a{ color: #0645ad; text-decoration:none;}
    a:visited{ color: #0b0080; }
    a:hover{ color: #06e; }
    a:active{ color:#faa700; }
    a:focus{ outline: thin dotted; }
    a:hover, a:active{ outline: 0; }

    p{margin:1em 0;}

    img{max-width:100%;}
  
  .marked_tag code {
    background: #EEE;
    border-radius: 0;
    color: #949494;
    font-size:0.8em;
    padding: 1px 5px;
    margin:0 4px;
  }

    h1,h2,h3,h4,h5,h6{font-weight:normal;color:#111;line-height:1em;}
    h1,h2,h3,h4,h5,h6{ font-weight: bold; }
    h1{ font-size:2.5em;}
    h2{ font-size:2em; border-bottom:1px solid silver; padding-bottom: 5px; }
    h3{ font-size:1.5em; }
    h4{ font-size:1.2em; }
    h5{ font-size:1em; }
    h6{ font-size:0.9em; }
    
    blockquote{margin: 0 0 15px;padding: 2px 20px;border-left: 0.5em solid #ddd;background-color: rgba(102,128,153,.05);  }

    hr { display: block; height: 2px; border: 0; border-top: 1px solid #aaa;border-bottom: 1px solid #eee; margin: 1em 0; padding: 0; }
 
    code { 
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
  }
    sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
    sup { top: -0.5em; }
    sub { bottom: -0.25em; }
    ul, ol { margin: 1em 0; padding: 0 0 0 3em; }
    li p:last-child { margin:0 }
    dd { margin: 0 0 0 2em; }
    img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
    table { border-collapse: collapse; border-spacing: 0; }
    td, th { vertical-align: top; padding: 4px 10px; border: 1px solid #bbb; }
    tr:nth-child(even) td, tr:nth-child(even) th { background: #eee; }


#save{
      position: fixed;
      top: 0;
      right: 0; 
      bottom: 0;
      overflow: auto;
      padding: 10px;
      padding-left: 20px; 
      font-size: 14px;
      line-height: 1.5em; 
}
#save_btn{ 
  background: url(../img/filesave.png);
  width: 32px;
  height: 32px;
  margin-right: 10px;
  display: block;
  z-index:102;
  opacity:0.7;
}
#save_btn:hover{opacity: 1.0}

#sidebar{
  width: 250px;
  background: #546072;
  position:absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  z-index:101;
  display: none;
  border-left: 1px solid #434c5b;
  border-right: none;
}

#sidebar .sidebar_item{
  color: #eee;
}
#sidebar .sidebar_item a{
  color: #eee;
  width:100%;
  display: block; 
  padding: 10px 20px;
  margin-bottom: 0;
}
#sidebar .sidebar_item a:hover{
  background: #4b5666;
}
#sidebar .sidebar_title{ 
  padding: 10px 20px 3px 20px;
  font-size: 13px;
  line-height: 1.45;
  color: rgba(129,158,187,0.6);
}
#main{ 
}
#mask {
  height:100%;
  width:100%;
  _min-height: 768px;
  _min-height: 1024px;
  background: #73808c;
  opacity: 0.3;
  filter:alpha(opacity=0.3);
  z-index:100;
  overflow: hidden;
  position: absolute;
  display: none;
}
#loading {display: none;}